# Download and Clean Dataset

Let's start by importing the pandas and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

The data looks very clean and is ready to be used to build our model.

### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns

In [5]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
n_cols = predictors_norm.shape[1] # number of predictors

# Import Keras

In [10]:
import keras

In [11]:
from keras.models import Sequential
from keras.layers import Dense

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [13]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

# Train and Test the Network

In [20]:
# build the model
model = regression_model()

In [21]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 0s - loss: 1552.1659 - 283ms/epoch - 12ms/step
Epoch 2/50
23/23 - 0s - loss: 1524.6600 - 23ms/epoch - 1000us/step
Epoch 3/50
23/23 - 0s - loss: 1485.6254 - 27ms/epoch - 1ms/step
Epoch 4/50
23/23 - 0s - loss: 1424.9230 - 29ms/epoch - 1ms/step
Epoch 5/50
23/23 - 0s - loss: 1332.9442 - 26ms/epoch - 1ms/step
Epoch 6/50
23/23 - 0s - loss: 1197.8961 - 27ms/epoch - 1ms/step
Epoch 7/50
23/23 - 0s - loss: 1015.7150 - 29ms/epoch - 1ms/step
Epoch 8/50
23/23 - 0s - loss: 797.9760 - 26ms/epoch - 1ms/step
Epoch 9/50
23/23 - 0s - loss: 584.9422 - 29ms/epoch - 1ms/step
Epoch 10/50
23/23 - 0s - loss: 420.7277 - 28ms/epoch - 1ms/step
Epoch 11/50
23/23 - 0s - loss: 327.8346 - 27ms/epoch - 1ms/step
Epoch 12/50
23/23 - 0s - loss: 283.7227 - 26ms/epoch - 1ms/step
Epoch 13/50
23/23 - 0s - loss: 256.5728 - 29ms/epoch - 1ms/step
Epoch 14/50
23/23 - 0s - loss: 238.2474 - 27ms/epoch - 1ms/step
Epoch 15/50
23/23 - 0s - loss: 223.4633 - 27ms/epoch - 1ms/step
Epoch 16/50
23/23 - 0s - loss: 211.7326 - 30ms/epoch - 1ms/step
Epoch 17/50
23/23 - 0s - loss: 201.5024 - 29ms/epoch - 1ms/step
Epoch 18/50
23/23 - 0s - loss: 192.7174 - 31ms/epoch - 1ms/step
Epoch 19/50
23/23 - 0s - loss: 185.1332 - 30ms/epoch - 1ms/step
Epoch 20/50
23/23 - 0s - loss: 178.5152 - 30ms/epoch - 1ms/step
Epoch 21/50
23/23 - 0s - loss: 172.0950 - 27ms/epoch - 1ms/step
Epoch 22/50
23/23 - 0s - loss: 166.7888 - 25ms/epoch - 1ms/step
Epoch 23/50
23/23 - 0s - loss: 161.7734 - 30ms/epoch - 1ms/step
Epoch 24/50
23/23 - 0s - loss: 156.5795 - 23ms/epoch - 981us/step
Epoch 25/50
23/23 - 0s - loss: 152.0526 - 19ms/epoch - 842us/step
Epoch 26/50
23/23 - 0s - loss: 148.3891 - 29ms/epoch - 1ms/step
Epoch 27/50
23/23 - 0s - loss: 144.1706 - 28ms/epoch - 1ms/step
Epoch 28/50
23/23 - 0s - loss: 141.0231 - 30ms/epoch - 1ms/step
Epoch 29/50
23/23 - 0s - loss: 137.6215 - 33ms/epoch - 1ms/step
Epoch 30/50
23/23 - 0s - loss: 134.7105 - 35ms/epoch - 2ms/step
Epoch 31/50
23/23 - 0s - loss: 131.7781 - 31ms/epoch - 1ms/step
Epoch 32/50
23/23 - 0s - loss: 128.8922 - 31ms/epoch - 1ms/step
Epoch 33/50
23/23 - 0s - loss: 126.0976 - 34ms/epoch - 1ms/step
Epoch 34/50
23/23 - 0s - loss: 123.7558 - 34ms/epoch - 1ms/step
Epoch 35/50
23/23 - 0s - loss: 121.6720 - 35ms/epoch - 2ms/step
Epoch 36/50
23/23 - 0s - loss: 119.1779 - 29ms/epoch - 1ms/step
Epoch 37/50
23/23 - 0s - loss: 116.9518 - 29ms/epoch - 1ms/step
Epoch 38/50
23/23 - 0s - loss: 114.8303 - 27ms/epoch - 1ms/step
Epoch 39/50
23/23 - 0s - loss: 113.0061 - 29ms/epoch - 1ms/step
Epoch 40/50
23/23 - 0s - loss: 110.6114 - 30ms/epoch - 1ms/step
Epoch 41/50
23/23 - 0s - loss: 108.7751 - 28ms/epoch - 1ms/step
Epoch 42/50
23/23 - 0s - loss: 106.7504 - 28ms/epoch - 1ms/step
Epoch 43/50
23/23 - 0s - loss: 105.0062 - 27ms/epoch - 1ms/step
Epoch 44/50
23/23 - 0s - loss: 102.5851 - 31ms/epoch - 1ms/step
Epoch 45/50
23/23 - 0s - loss: 100.8673 - 33ms/epoch - 1ms/step
Epoch 46/50
23/23 - 0s - loss: 99.0188 - 33ms/epoch - 1ms/step
Epoch 47/50
23/23 - 0s - loss: 97.3935 - 33ms/epoch - 1ms/step
Epoch 48/50
23/23 - 0s - loss: 95.2822 - 29ms/epoch - 1ms/step
Epoch 49/50
23/23 - 0s - loss: 93.2483 - 27ms/epoch - 1ms/step
Epoch 50/50
23/23 - 0s - loss: 91.3052 - 26ms/epoch - 1ms/step

In [22]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 823us/step - loss: 98.8558
10/10 [==============================] - 0s 787us/step

98.8558120727539

In [23]:
from sklearn.metrics import mean_squared_error

In [24]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

98.8558198860149 0.0

In [25]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 372.5851135253906
10/10 [==============================] - 0s 734us/step
MSE 2: 998.44580078125
10/10 [==============================] - 0s 794us/step
MSE 3: 202.5924530029297
10/10 [==============================] - 0s 749us/step
MSE 4: 217.73825073242188
10/10 [==============================] - 0s 723us/step
MSE 5: 191.79408264160156
10/10 [==============================] - 0s 711us/step
MSE 6: 164.70899963378906
10/10 [==============================] - 0s 666us/step
MSE 7: 181.40054321289062
10/10 [==============================] - 0s 827us/step
MSE 8: 131.56776428222656
10/10 [==============================] - 0s 954us/step
MSE 9: 189.3871612548828
10/10 [==============================] - 0s 1ms/step
MSE 10: 125.17666625976562
10/10 [==============================] - 0s 789us/step
MSE 11: 96.0924072265625
10/10 [==============================] - 0s 741us/step
MSE 12: 111.67554473876953
10/10 [==============================] - 0s 871us/step
MSE 13: 117.68670654296875
10/10 [==============================] - 0s 774us/step
MSE 14: 182.06138610839844
10/10 [==============================] - 0s 740us/step
MSE 15: 79.32738494873047
10/10 [==============================] - 0s 831us/step
MSE 16: 72.97538757324219
10/10 [==============================] - 0s 788us/step
MSE 17: 69.207275390625
10/10 [==============================] - 0s 859us/step
MSE 18: 74.25448608398438
10/10 [==============================] - 0s 718us/step
MSE 19: 70.06739807128906
10/10 [==============================] - 0s 876us/step
MSE 20: 75.23494720458984
10/10 [==============================] - 0s 859us/step
MSE 21: 61.8715934753418
10/10 [==============================] - 0s 994us/step
MSE 22: 60.81298828125
10/10 [==============================] - 0s 1ms/step
MSE 23: 61.81651306152344
10/10 [==============================] - 0s 814us/step
MSE 24: 47.77621078491211
10/10 [==============================] - 0s 742us/step
MSE 25: 47.93604278564453
10/10 [==============================] - 0s 807us/step
MSE 26: 45.94194030761719
10/10 [==============================] - 0s 789us/step
MSE 27: 45.51877975463867
10/10 [==============================] - 0s 693us/step
MSE 28: 37.58871078491211
10/10 [==============================] - 0s 786us/step
MSE 29: 50.327301025390625
10/10 [==============================] - 0s 871us/step
MSE 30: 39.530521392822266
10/10 [==============================] - 0s 890us/step
MSE 31: 42.84940719604492
10/10 [==============================] - 0s 754us/step
MSE 32: 35.019649505615234
10/10 [==============================] - 0s 913us/step
MSE 33: 44.60484313964844
10/10 [==============================] - 0s 667us/step
MSE 34: 39.108028411865234
10/10 [==============================] - 0s 912us/step
MSE 35: 39.58487319946289
10/10 [==============================] - 0s 1ms/step
MSE 36: 42.799171447753906
10/10 [==============================] - 0s 816us/step
MSE 37: 41.74957275390625
10/10 [==============================] - 0s 818us/step
MSE 38: 41.35074234008789
10/10 [==============================] - 0s 668us/step
MSE 39: 41.687255859375
10/10 [==============================] - 0s 776us/step
MSE 40: 32.835819244384766
10/10 [==============================] - 0s 769us/step
MSE 41: 39.80888366699219
10/10 [==============================] - 0s 838us/step
MSE 42: 35.9163932800293
10/10 [==============================] - 0s 820us/step
MSE 43: 38.540374755859375
10/10 [==============================] - 0s 759us/step
MSE 44: 44.29255294799805
10/10 [==============================] - 0s 781us/step
MSE 45: 43.00034713745117
10/10 [==============================] - 0s 713us/step
MSE 46: 42.74067306518555
10/10 [==============================] - 0s 14ms/step
MSE 47: 41.38444137573242
10/10 [==============================] - 0s 763us/step
MSE 48: 50.646820068359375
10/10 [==============================] - 0s 721us/step
MSE 49: 40.54854965209961
10/10 [==============================] - 0s 913us/step
MSE 50: 38.008487701416016
10/10 [==============================] - 0s 812us/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 100.7915439940884
Standard Deviation: 144.38233983601754